*{

}

body{
    background-color: hsl(47, 88%, 63%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.container{
    background-color: hsl(0, 0%, 100%);
    width: 300px;
    height: 400px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

img{
    width: 270px;
    border-radius: 10px;
}

.but{
    background-color: hsl(47, 88%, 63%);
    width: 70px;
    height: 25px;
    border-radius: 3px;
    font-size: small;

}
